.menu {
  padding: 5rem;
  background-color: #eff4fe;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  .menu {
    padding: 1rem;
  }
}

.menu-list {
  padding: 0;
}

.menu-list__item {
}

.menu-list__item-date {
  margin-left: 1rem;
}
